
body {
	background: #FFE4E1;
}

header {
	background: #FFF;
	width: 100%;
	height: 80px;
	margin-bottom: 20px; 
	box-shadow: 1px 2px 2px 1px #848484;
}

header div {
	display: inline-block;
}

header .left {
	float: left;
	width: 22%;
	margin-left: 5%; 
	min-width: 250px;
	cursor: pointer;
}

/*header .left i {
	display: inline-block;
	width: 50px;
	height: 50px;
}
*/

header .left i {
	width: 50px;
	height: 50px;
    display: inline-block;
    line-height: 50px;
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;
    font-size: 35px;
    
    -webkit-transition: font-size 0.4s ease-in-out;
    -moz-transition: font-size 0.4s ease-in-out;
    transition: font-size 0.4s ease-in-out;
}

header .left i:hover {
	font-size: 50px;
}

/*header .left img {
	width: 100%;
	height: 80px;
}
*/
header .middle {
	float: left;
	margin-left: 10%;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 20px;
	font-weight: bold;
}

header .right {
	float: right;
	margin-right: 5%;
	vertical-align: bottom;
	line-height: 100px;
}

header .right p {
	font-size: 22px;
	font-weight: bold;
	color: #1E90FF;
}

header .right p span {
	padding-left: 10px;
	font-size: 18px;
	color: #87CEFA;
}

.chat_window {
	display: block;
	margin: 0 20px;
	padding: 20px;
	border: 1px solid #DCDCDC;
	border-radius: 3px; 
	box-shadow: 1px 2px 2px 1px #848484;
	background: #FFF;
	height: 400px;
	overflow : scroll;
}

.bottom_control {
	width : 100%;
	background: #FFF;
	margin: 20px;
	padding: 20px;
	box-shadow: 1px 2px 2px 1px #848484;
}

.bottom_control form {
	width : 100%;
}

/*.bottom_control .esc {
	width: 15%;
	height: 80px;
	display: inline-block;
	text-align: center;
	color: #fff;
	background: #BE4F48;
	border: 1px solid #BE4F48;
	cursor: pointer;
	font-size: 20px;

	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;	
}

.bottom_control .esc:hover {
	border-radius: 3px;
	color: #BE4F48;
	background: #fff;
}*/

.bottom_control form .text_area {
	display: inline-block;
	float : left;
	margin: 0 10px; 
	width: 70%;
	padding: 10px;
	border : 0;
	outline : 0;
	border : 1px solid #DCDCDC;
	border-radius : 3px;
	resize: none;
}

.bottom_control form .text_area:focus {
	border : 1px solid #DCDCDC;
}

.bottom_control .send {
	width: 15%;
	height: 70px;
	display: inline-block;
	text-align: center;
	color: #BE4F48;
	background: #fff;
	border: 1px solid #BE4F48;
	cursor: pointer;
	font-size: 20px;

	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
}

.bottom_control .send:hover {
	background: #BE4F48;
	color: #fff;
	border-radius: 3px;
}







