{% extends "base_csj.html" %}
{% block page_title %} New Topic {% endblock %}
{% block page_kind %} Add Topic {% endblock %}
{% block page_content %}


<div class = "row">
<div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox">
                        <div class="ibox-content">
                        	<form class="form" method="POST">
		                     <div class="row">
                                <div class="col-md-8">
                                	<fieldset>
                                        <h3>
                                            Flag
                                        </h3>
                                        <p>
                                            Please choose a flag for your topic.
                                        </p>
                                        <div class="radio radio-default radio-inline">
                                            <input type="radio" id="inlineRadio1" value="1" name="radioInline" checked="">
                                            <label for="inlineRadio1"> Math </label>
                                        </div>
                                        <div class="radio radio-success radio-inline">
                                            <input type="radio" id="inlineRadio2" value="2" name="radioInline">
                                            <label for="inlineRadio2"> English </label>
                                        </div>
                                        <div class="radio radio-primary radio-inline">
                                            <input type="radio" id="inlineRadio3" value="3" name="radioInline">
                                            <label for="inlineRadio3"> Chemistry </label>
                                        </div>
                                        <div class="radio radio-info radio-inline">
                                            <input type="radio" id="inlineRadio4" value="4" name="radioInline">
                                            <label for="inlineRadio4"> Sport </label>
                                        </div>
                                        <div class="radio radio-warning radio-inline">
                                            <input type="radio" id="inlineRadio5" value="5" name="radioInline">
                                            <label for="inlineRadio5"> Psychology </label>
                                        </div>
                                        <div class="radio radio-danger radio-inline">
                                            <input type="radio" id="inlineRadio6" value="6" name="radioInline">
                                            <label for="inlineRadio6"> Computer Science </label>
                                        </div>
                                    </fieldset>
                                </div>
                             </div>

								{% import "bootstrap/wtf.html" as wtf %}
							
									{{ form.hidden_tag() }}
									{{ wtf.form_field(form.title, class = "form-control", placeholder="Title") }}
									{{ wtf.form_field(form.content, style = "width: 1000px; height: 165px;", placeholder="Content") }}
									{{ wtf.form_field(form.submit, class="btn btn-primary btn-xs m-l-sm") }}
									</form>
                                </div>
                        </div>
                    </div>
                </div>
</div>
</div>
{% endblock %}

