{% extends 'base_csj.html' %}
{% block page_title %}
文章详情
{% endblock %}
{% block page_kind %}
<li>
	<a href="/">Home</a>
</li>
<li>
	<a href="/article/list/">列表</a>
</li>
<li class="active">
	<strong>详情</strong>
</li>
{% endblock %}
{% block page_content %}
	<div class="wrapper wrapper-content  animated fadeInRight article">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="ibox">
					<div class="ibox-content">
						<button class="btn btn-white btn-xs" type="button">{{ article.author }}</button>
						<div class="text-center article-title">
						<span class="text-muted"><i class="fa fa-clock-o"></i>{{ article.create_time }}</span>
							<h1> {{article.title}} </h1>
						</div>
					{% for c in article.content %}
					<!--p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ c }}</p-->
					{{ c|safe }}
					{% endfor %}
					<hr>
					<div class="row">
						<div class="col-md-6">
							<h5>标签: </h5>
							{% for x in article.tags %}
							<button class="btn btn-primary btn-xs" type="button">{{ x }}</button>
							{% endfor %}
						</div>
						<div class="col-md-6">
							<div class="small text-right">
								<h5>统计</h5>
								<div><i class="fa fa-comments-o"></i>{{ article.comments }} 条评论</div> 
								<i class="fa fa-eye"></i>{{ article.views }}次阅读
							</div>
						</div>
					</div>
					<div class="row">
						<h2>评论：</h2>
						{% for c in comments %}
							<div class="social-feed-box">
								<div class="social-avatar">
									<a href class="pull-left">
										<img alt="image" src="{{ url_for('static', filename=c.picture_dir) }}">
									</a>
									<div class="media-body">
										<a href="#">
											{{ c.author }}
										</a>
										<small class="text-muted">{{ c.create_time }}</small>
									</div>
								</div>
								<div class="social-body">
									<p>{{ c.content }}</p>
								</div>
							</div>
						{% endfor %}
						<div class="text-center">
							<div class="btn-group">
								<button class="btn btn-white" {% if page_num == 1 %}disabled="true" {% endif %} type="button", onclick="changeto('{{page_num-1}}', '{{article_id}}')"><i class="fa fa-chevron-left"></i></button>
								{% for r in range(page_count) %}
								<button class="btn btn-white{% if loop.index == page_num %} active{% endif %}" onclick="changeto('{{loop.index}}', '{{article_id}}');">{{ loop.index }}</button>
								{% endfor %}
								<button class="btn btn-white" {% if page_num == page_count %}disabled="true" {% endif %}type="button" onclick="changeto('{{page_num+1}}', '{{article_id}}')">
									<i class="fa fa-chevron-right"></i> </button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="social-feed-box">
							<div class="social-avatar">
								<a href class="pull-left">
									<img alt="image" src="{{ url_for('static', filename=user.head) }}">
								</a>
								<div class="media-body">
									<a href="#">
										{{ user.name }}
									</a>
								</div>
							</div>
							<div class="social-body">
								<div class="ibox-content">
								<form method="get" class="form-horizontal">
									<div class="form-group">
										<div class="col-sm-10"><textarea id="content_id" rows="10" cols="100" class="form-control">
											</textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-4 col-sm-offset-2">
											<button class="btn btn-primary" onclick="addcomment({{ article_id }});">发表评论</button>
										</div>
									</div>
								</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	function addcomment(_id){
		$.post('/article/add/comment/', {
			article_id: _id,
			content: $("#content_id").val(),
		}, function(data) {
			alert(data.msg);
			location.reload();
		}, "json");
	}
	function changeto(page_num, article_id) {
		location.href="/article/"+article_id+"/?page_num="+page_num;
	}
	</script>
{% endblock %}
