{% extends 'base_csj.html' %}
{% block page_title %}
Article Content
{% endblock %}
{% block page_kind %}
<li>
	<a href="/">Home</a>
</li>
<li>
	<a href="/article/list/">列表</a>
</li>
<li class="active">
	<strong>详情</strong>
</li>
{% endblock %}
{% block page_content %}
	<link href="{{ url_for('static', filename='css/plugins/sweetalert/sweetalert.css') }}" rel="stylesheet">
	<div class="wrapper wrapper-content  animated fadeInRight article">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<div class="ibox">
					<div class="ibox-content">
						<button class="btn btn-white btn-xs" type="button">{{ article.author }}</button>
						{% if user.priv == 'teacher' or user.priv == 'admin' %}
						<div class="pull-right">
							<button class="btn btn-primary btn-xs" type="button" data-toggle="modal"
								data-target="#myModal1">管理标签</button>
							<button class="btn btn-white btn-xs" type="button" data-toggle="modal"
								data-target="#myModal2">推送管理</button>
						</div>
						{% endif %}
						<div class="text-center article-title">
						<span class="text-muted"><i class="fa fa-clock-o"></i>{{ article.create_time }}</span>
							<h1> {{article.title}} </h1>
						</div>
						{{ article.content|safe }}
					<!--p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ c }}</p-->
					<hr>
					<div class="row">
						<div class="col-md-6">
							<h5>标签: </h5>
							{% for x in article.tags %}
							<button class="btn btn-primary btn-xs" type="button">{{ x }}</button>
							{% endfor %}
						</div>
						<div class="col-md-6">
							<div class="small text-right">
								<h5>统计</h5>
								<div><i class="fa fa-comments-o"></i>{{ article.comments }} 条评论</div> 
								<i class="fa fa-eye"></i>{{ article.views }}次阅读
							</div>
						</div>
					</div>
					<div class="row">
						<h2>评论：</h2>
						{% for c in comments %}
							<div class="social-feed-box">
								<div class="social-avatar">
									<a href class="pull-left">
										<img alt="image" src="{{ url_for('static', filename=c.picture_dir) }}">
									</a>
									<div class="media-body">
										<a href="#">
											{{ c.author }}
										</a>
										<small class="text-muted">{{ c.create_time }}</small>
									</div>
								</div>
								<div class="social-body">
									<p>{{ c.content }}</p>
								</div>
							</div>
						{% endfor %}
						<div class="text-center">
							<div class="btn-group">
								<button class="btn btn-white" {% if page_num == 1 %}disabled="true" {% endif %} type="button", onclick="changeto('{{page_num-1}}', '{{article_id}}')"><i class="fa fa-chevron-left"></i></button>
								{% for r in range(page_count) %}
								<button class="btn btn-white{% if loop.index == page_num %} active{% endif %}" onclick="changeto('{{loop.index}}', '{{article_id}}');">{{ loop.index }}</button>
								{% endfor %}
								<button class="btn btn-white" {% if page_num == page_count %}disabled="true" {% endif %}type="button" onclick="changeto('{{page_num+1}}', '{{article_id}}')">
									<i class="fa fa-chevron-right"></i> </button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="social-feed-box">
							<div class="social-avatar">
								<a href class="pull-left">
									<img alt="image" src="{{ url_for('static', filename=user.head) }}">
								</a>
								<div class="media-body">
									<a href="#">
										{{ user.name }}
									</a>
								</div>
							</div>
							<div class="social-body">
								<div class="ibox-content">
								<form method="get" class="form-horizontal">
									<div class="form-group">
										<div class="col-sm-10"><textarea id="content_id" rows="10" cols="100" class="form-control">
											</textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-4 col-sm-offset-2">
											<button class="btn btn-primary" onclick="addcomment({{ article_id }});">发表评论</button>
										</div>
									</div>
								</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal inmodal" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
		<div class="modal-dialog" id="dialog1">
			<div class="modal-content animated bounceInRight">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
					<i class="fa fa-laptop modal-icon"></i>
					<h4 class="modal-title">添加或删除标签</h4>
					<small class="font-bold">单击标签确认删除， 或在下方输入新标签点击提交确认添加</small>
				</div>
				<div class="modal-body">
					<p>
					{% for x in article.tags %}
						<button class="btn btn-primary btn-xs demo4" type="button" onclick="deletag('{{article_id}}', '{{x}}')">{{ x }}</button>
					{% endfor %}
					</p>
							<div class="form-group"><label>添加新标签</label> <input type="text" id="new_tag_id" placeholder="输入标签名称" class="form-control"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal" id="dialog1_button">Close</button>
					<button type="button" class="btn btn-primary" onclick="addtag('{{article_id}}')">提交</button>
				</div>
			</div>
		</div>
	</div>
	<script src="{{ url_for('static', filename='js/plugins/sweetalert/sweetalert.min.js') }}"></script>
	<script>
	function addcomment(_id){
		$.post('/article/add/comment/', {
			article_id: _id,
			content: $("#content_id").val(),
		}, function(data) {
			alert(data.msg);
			location.reload();
		}, "json");
	}
	function addtag(_id){
		$.post('/article/tag/add/', {
			article_id: _id,
			tag: $("#new_tag_id").val(),
		}, function(data) {
			alert(data.msg);
			location.reload();
		}, "json");
	}
	function changeto(page_num, article_id) {
		location.href="/article/"+article_id+"/?page_num="+page_num;
	}
	function deletag(article_id, tag){
		$("#dialog1_button").click();
		swal({
			title: "Are you sure?",
			text: "您确定要移除次标签吗？",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: "Yes, delete it!",
			closeOnConfirm: false,
			closeOnCancel: false
		}, function(isConfirm) {
			if (isConfirm){
				$.post('/article/tag/delete/', {
					article_id: article_id,
					tag: tag,
					}, function(data) {
					swal("Deleted!", "该标签已被移除", "success");
				}, "json");
			}
			else{
				swal("Cancelled", "ssss","error");
			}
		});
	}
	</script>
{% endblock %}
