<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>学生信息管理平台</title>
	<link href="StudentStyle.css" rel="stylesheet" type="text/css">
	<link href="./Index.aspx_files/jbox.css" rel="stylesheet" type="text/css">
	<link href="./Index.aspx_files/ks.css" rel="stylesheet" type="text/css">
    <script src="jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="jquery.jBox-2.3.min.js" type="text/javascript"></script>
    <script src="jquery.jBox-zh-CN.js" type="text/javascript"></script>
    <script src="Common.js" type="text/javascript"></script>
    <script src="Data.js" type="text/javascript"></script>
    <script type="text/javascript">
        $().ready(function () {
            setStudMsgHeadTabCheck();
            showUnreadSysMsgCount();
        });

        //我的信息头部选项卡
        function setStudMsgHeadTabCheck() {
            var currentUrl = window.location.href;
            currentUrl = currentUrl.toLowerCase();
            var asmhm = "";
            $("#ulStudMsgHeadTab li").each(function () {
                asmhm = $(this).find('a').attr("href").toLowerCase();
                if (currentUrl.indexOf(asmhm) > 0) {
                    $(this).find('a').attr("class", "tab1");
                    return;
                }
            });
        }

        //显示未读系统信息
        function showUnreadSysMsgCount() {
            var unreadSysMsgCount = "0";
            if (Number(unreadSysMsgCount) > 0) {
                $("#unreadSysMsgCount").html("(" + unreadSysMsgCount + ")");
            }
        }

        //退出
        function loginOut() {
            if (confirm("确定退出吗？")) {
                StudentLogin.loginOut(function (data) {
                    if (data == "true") {
                        window.location = "/Login.aspx";
                    }
                    else {
                        jBox.alert("退出失败！", "提示", new { buttons: { "确定": true} });
                    }
                });
            }
        }
        //更改报考类别
        function changeCateory(thisObj, id) {
            var oldCateoryId = $("#cateoryId").val();
            var cateoryId = "";
            if (id != null) {
                cateoryId = id;
            }
            else {
                cateoryId = thisObj.val();
            }
            var studentId = $("#studentId").val();
            if (cateoryId.length <= 0) {
                jBox.tip("报考类别不能为空！");
                if (id == null) {
                    thisObj.val(oldCateoryId);
                }
            }
            else {
                studentInfo.changeStudentCateory(cateoryId, function (data) {
                    var result = $.parseJSON(data);
                    if ((String(result.ok) == "true")) {
                        window.location.href = "/Index.aspx";
                    }
                    else {
                        jBox.tip(result.message);
                    }
                });
            }
        }
    </script>
    
<script type="text/javascript">

    function showMsg(msg, obj) {
        jBox.tip(msg);
        $("#" + obj).focus();
    }

</script>
</head>
<body>
    <div class="banner">
        <div class="bgh">
            <div class="page">
                <div id="logo">
                    <a href="/">
                        <img src="/static/image/logo.gif" alt="" width="165" height="48">
                    </a>
                </div>
                <div class="topxx">
                    <select onchange="changeCateory($(this))" style="font-size: 11px; background: #4991cf;
                        color: #fff;">
                        
                        <option value="4">
                            远程</option>
                        
                        <option selected="selected" value="1">
                            自考</option>
                        
                    </select>
					{% if user %}
					{{ user.id }} 学员：{{ user.name}}, 欢迎您！ <a href="">我的信息</a> <a href="">
                        通知</a> <a href="">密码修改</a> <a onclick="loginOut()" href="javascript:">安全退出</a>
					{% else %}
							
					{% endif %}
                </div>
                <div class="blog_nav">
                    <ul>
                        <li><a href="/Index.aspx.html">我的信息</a></li>
                        <li><a href="">教务中心</a></li>
                        <li><a href="">我的学费</a></li>
                        <li><a href="">资料中心</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="box mtop">
            <div class="leftbox">
                <div class="l_nav2">
                    <div class="ta1">
                        <strong>个人中心</strong>
                        <div class="leftbgbt">
                        </div>
                    </div>
                    <div class="cdlist">
                        <div>
                            <a href="">我的信息</a></div>
                        <div>
                            <a href="">班级信息 </a>
                        </div>
                        <div>
                            <a href="">短信息</a></div>
                        <div>
                            <a href="">学院通知</a></div>
                        <div>
                            <a href="">我的作业</a></div>
                    </div>
                    <div class="ta1">
                        <strong>教务中心</strong>
                        <div class="leftbgbt2">
                        </div>
                    </div>
                    <div class="cdlist">
                        <div>
                            <a href="">我的报考</a></div>
                        <div>
                            <a href="">我的成绩</a></div>
                        <div>
                            <a href="">我的书籍</a></div>
                    </div>
                    <div class="ta1">
                        <strong>学习中心</strong><div class="leftbgbt2">
                        </div>
                    </div>
                    <div class="cdlist">
                        <div>
                            <a href="">资料下载</a></div>
                        <div>
                            <a href="">学习历程</a></div>
                    </div>
                   
                    <div class="ta1">
                        <strong>财务中心</strong><div class="leftbgbt2">
                        </div>
                    </div>
                    <div class="cdlist">
                        <div>
                            <a href="">我的财务</a></div>
                    </div>
<div class="ta1">
                        <a href=""><strong>教学系统</strong></a>
                        <div class="leftbgbt2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightbox">
			{% block content %}
			{% endblock %}
			</div>		
        </div>
        <div class="footer"><p>©copyright 2012 广博教育 csgb.net 版权所有 站长统计</p></div>
    </div>

</body></html>
