{% extends "base.html" %}
{% block content %}

<h2 class="mbx">我的信息 &gt; 班级信息&nbsp;&nbsp;&nbsp;自考</h2>  
<div class="morebt">
    

<ul id="ulStudMsgHeadTab">
    <li><a class="tab2" onclick="" href="/">个人资料</a> </li>
    <li><a class="tab2" onclick="" href="/classinfo/">班级信息</a></li>
    <li><a class="tab2" onclick="" href="/letter/">短信息</a></li>
    <li><a class="tab2" onclick="" href="/message/">通知<span style="color:#ff0000; padding-left:5px;" id="unreadSysMsgCount"></span></a></li>
    <li><a class="tab2" onclick="" href="/homework/">我的作业</a></li>
</ul>

</div>
<div class="cztable">
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
            <td width="91" align="right">班级名称：</td>
            <td colspan="5">{{ group.name }}&nbsp;</td>
        </tr>
        <tr>
            <td align="right">班级QQ群：</td>
            <td colspan="5">{{ group.qq }} &nbsp;</td>
        </tr>
        <tr>
            <td align="right">班级宣传语：</td>
            <td colspan="5">{{ group.desc}}&nbsp;</td>
        </tr>
        <tr>
            <td align="right">学校名称：</td>
            <td colspan="5">{{ user.university }}&nbsp;</td>
        </tr>
            
            <tr>
                    <td align="right"><div align="right">班主任老师：</div>&nbsp;</td>
                    <td><div align="left">{{ group.teacher }}</div></td>
                    <td><div align="right">电话：</div>&nbsp;</td>
                    <td><div align="left">{{ group.phone }}</div>&nbsp;</td>
                    <td align="right"><div align="right">在线交流：</div>&nbsp;</td>
                    <td align="right"><div align="left"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2::41" alt="点击这里给我发消息" /></a></div>&nbsp;</td>
                  </tr>
            
        <tr>
            <td align="right">工作评价：</td>
            <td colspan="5">
                <input value="满意" checked="checked" type="radio" name="workAssess" />满意
                <input value="一般" type="radio" name="workAssess" />一般
                <input value="差" type="radio" name="workAssess" />差
            </td>
        </tr>
        <tr>
            <td rowspan="3" align="right">问题反馈：</td>
            <td colspan="5">
                <input value="4" checked="checked" type="radio" name="problemType" />提问
                
                <input value="1" type="radio" name="problemType" />投诉
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <textarea name="problemContent" id="problemContent" cols="80" rows="6" class="input_2"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="5" align="left" valign="middle">
                <input type="button" name="button2" id="button2" value="点击提交" class="input2" onclick="onSaveProblem()" />
            </td>
        </tr>
    </table>
</div>

{% endblock %}


