{% extends 'base_csj.html' %}
{% block page_title %}
成绩查询
{% endblock %}
{% block page_content %}

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Custom responsive table </h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-wrench"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li><a href="#">Config option 1</a>
							</li>
							<li><a href="#">Config option 2</a>
							</li>
						</ul>
						<a class="close-link">
							<i class="fa fa-times"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-sm-6">
							<div class="input-group"><input id="message_search_id" type="text" placeholder="输入科目或姓名" class="input-sm form-control"> <span class="input-group-btn">
								<button type="button" class="btn btn-sm btn-primary" onclick="search();"> 搜索</button> </span></div>
						</div>
					</div>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
							<tr>
								<th>学号</th>
								<th>姓名</th>
								<th>科目</th>
								<th>学期</th>
								<th>老师</th>
								<th>考试时间</th>
								<th>分数</th>
							</tr>
							</thead>
							<tbody>
								{% for g in grades %}
									<tr>
										<td>{{ g.id }}</td>
										<td>{{ g.name }}</td>
										<td>{{ g.subject }}</td>
										<td>{{ g.semester }}</td>
										<td>{{ g.teacher }}</td>
										<td>{{ g.contest_time }} </td>
										<td>{{ g.score }} </td>
			<td><button type="button" class="btn btn-default" onclick="query('{{g.subject}}', '{{g.id}}');">查看成绩变化曲线</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<div id="grade_line" style="width:600px;height:600px;"></div>
				</div>
			</div>
		</div>
	</div>
	{% if user.priv == 'teacher' %}
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>添加成绩<small>请填写成绩内容</small></h5>
					<div class="ibox-tools">
						<a class="collapse-link">
							<i class="fa fa-chevron-up"></i>
						</a>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-wrench"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li><a href="#">Config option 1</a>
							</li>
							<li><a href="#">Config option 2</a>
							</li>
						</ul>
						<a class="close-link">
							<i class="fa fa-times"></i>
						</a>
					</div>
				</div>
				<div class="ibox-content">
					<form method="get" class="form-horizontal">
						<div class="form-group"><label class="col-sm-2 control-label">科目</label>

							<div class="col-sm-10"><input type="text" class="form-control" id="subject_id"></div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group"><label class="col-sm-2 control-label">学期</label>
							<div class="col-sm-10"><input type="text" class="form-control" id="semester_id"> 
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group"><label class="col-sm-2 control-label">学生学号</label>
							<div class="col-sm-10"><input type="text" class="form-control" id="user_id">
							</div>
						</div>
						<div class="hr-line-dashed"></div>
						<div class="form-group"><label class="col-sm-2 control-label">时间</label>
							<div class="col-sm-10"><input id="time_id" rows="10" cols="100" class="form-control">
								</input>
							</div>
						</div>
						<div class="hr-line-dashed"></div>

						<div class="form-group">
							<div class="col-sm-4 col-sm-offset-2">
								<button class="btn btn-primary" onclick="addgrade();">发布</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
<script src="{{ url_for('static', filename='js/echarts.js') }}"></script>
<script>
	function search() {
		location.href='/grade/?subject='+$("#grade_search_id").val();
	}
	function addgrade(){
		$.post('/grade/add/', {
			subject: $("#subject_id").val(),
			semester: $("#semester_id").val(),
			contest_time: $("#time_id").val(),
			student_id: $("#user_id").val()
		}, function(data) {
			if (data.code == 0){
				alert(data.msg);
				location.href='/grade/list/';
			}
		}, "json");
	}
	var x_data = [];
	var y_data = [];
	var myChart1 = echarts.init(document.getElementById("grade_line"));
	var option = {
		title: {
			text: '成绩变化曲线图'
		},
		tooltip: {
			trigger: 'axis',
			formatter: function (params) {
				params = params[0];
				return params.name + '：' + params.value;
			},
			axisPointer: {
				animation: false
			}
		},
		legend: {
			data: ['', '']
		 },
		xAxis: {
			type: 'category',
			splitLine: {
				show: false
			},
			data: x_data
		},
		yAxis: {
			type: 'value',
			boundaryGap: [0, '100%'],
			splitLine: {
				show: false
			}
		},
		series: [
		{
			name: '课程成绩',
			type: 'line',
			showSymbol: false,
			hoverAnimation: false,
			data : y_data,
		},
		]
	};
	function query(subject_, user_id) {
		$.post("/grade/data/", {
			subject: subject_,
			student_id: user_id,
			}, function(data) {
				if (data.code == 0) {
					option.xAxis.data = data.name;
					option.series[0].data = data.value;
					option.series[0].name = '课程成绩';
					option.legend.data[0] = '蛤蛤';
					option.title.text = data.title;
					myChart1.setOption(option);
				}
		}, "json");
	}
</script>
{% endblock %}
