{% extends "base.html" %}
{% block content %}

<h2 class="mbx">个人中心 &gt; 班级信息&nbsp;&nbsp;</h2>  
<div class="morebt">
<ul id="ulStudMsgHeadTab">
    <li><a class="tab2" onclick="" href="/">个人资料</a> </li>
    <li><a class="tab2" onclick="" href="/classinfo/">班级信息</a></li>
    <li><a class="tab2" onclick="" href="/letter/">短信息</a></li>
    <li><a class="tab2" onclick="" href="/message/">通知<span style="color:#ff0000; padding-left:5px;" id="unreadSysMsgCount"></span></a></li>
    <li><a class="tab2" onclick="" href="/homework/">我的作业</a></li>
</ul>
</div>                
    <div class="cztable">
        <div class="tis red">
            注：请仔细核对自己的考试正确， 如不正确请向老师发送消息</div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <th scope="col" style="width: 100px;">&nbsp;
                        
                    </th>
                    
                    <th scope="col" valign="top">
                        <div class="wzx1">
                            00015</div>
                        <div class="wzx">
                            英语（二）</div>
                    </th>
                    
                    <th scope="col" valign="top">
                        <div class="wzx1">
                            03708</div>
                        <div class="wzx">
                            中国近现代史纲要</div>
                    </th>
                    
                    <th scope="col" valign="top">
                        <div class="wzx1">
                            03709</div>
                        <div class="wzx">
                            马克思主义基本原理概论</div>
                    </th>
                    
                    <th scope="col" valign="top">
                        <div class="wzx1">
                            00169</div>
                        <div class="wzx">
                            房地产法</div>
                    </th>
                    
                    <th scope="col" valign="top">
                        <div class="wzx1">
                            00261</div>
                        <div class="wzx">
                            行政法学</div>
                    </th>
                    
                    <th scope="col" valign="top">
                        <div class="wzx1">
                            00167</div>
                        <div class="wzx">
                            劳动法</div>
                    </th>
                    
                    <th scope="col" valign="top">
                        <div class="wzx1">
                            07945</div>
                        <div class="wzx">
                            企业与公司法学</div>
                    </th>
                    
                    <th scope="col" valign="top">
                        <div class="wzx1">
                            07946</div>
                        <div class="wzx">
                            税法原理</div>
                    </th>
                    
                    <th scope="col" valign="top">
                        <div class="wzx1">
                            07947</div>
                        <div class="wzx">
                            金融法概论</div>
                    </th>
                    
                    <th scope="col" valign="top">
                        <div class="wzx1">
                            06909</div>
                        <div class="wzx">
                            行政诉讼法</div>
                    </th>
                    
                    <th scope="col" valign="top">
                        <div class="wzx1">
                            07944</div>
                        <div class="wzx">
                            经济法学原理</div>
                    </th>
                    
                    <th scope="col" valign="top">
                        <div class="wzx1">
                            07948</div>
                        <div class="wzx">
                            环境法学</div>
                    </th>
                    
                    <th scope="col" valign="top">
                        <div class="wzx1">
                            10301</div>
                        <div class="wzx">
                            经济法毕业论文</div>
                    </th>
                    
                    <th scope="col" style="width: 100px;">
                        操作
                    </th>
                </tr>
                
                <tr align="center">
                    <td colspan="15">
                        <div style="color: #ff0000; font-weight: bold;">
                            未找到成绩信息!</div>
                    </td>
                </tr>
                
            </tbody>
        </table>
        
    </div>
{% endblock %}


