{% extends "base.html" %}
{% block content %}
<h2 class="mbx">我的信息 &gt; 个人资料 &nbsp;&nbsp;&nbsp;</h2>       
<div class="morebt">
    

<ul id="ulStudMsgHeadTab">
    <li><a class="tab2" onclick="" href="/">个人信息</a> </li>
    <li><a class="tab2" onclick="" href="/homework/">作业监督</a></li>
    <li><a class="tab2" onclick="" href="/grade/">学生成绩</a></li>
    <li><a class="tab2" onclick="" href="/article/">文章推送</a></li>
    <li><a class="tab2" onclick="" href="/message/list/">通知发布<span style="color:#ff0000; padding-left:5px;" id="unreadSysMsgCount"></span></a></li>
</ul>

</div>
<div class="cztable">
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td align="right" width="80">姓名：</td>
			<td>{{ user.name }}&nbsp;</td>
            <td align="right" width="90">身份证号码：</td>
			<td>{{ user.id_card}}&nbsp;</td>
            
            <td rowspan="9"><div align="center"><img id="pic_face"  height="160" width="120" src="../Images/Student/photo.jpg"/ style="padding:2px 2px 5px; border:1px #ddd solid;"></div>&nbsp;</td>
        </tr>
        <tr>
            <td align="right">性别：</td>
			<td>{{ user.sex }}&nbsp;</td>
            <td align="right">考籍号：</td>
			<td>{{ user.test_number}}&nbsp;</td>
        </tr>
        <tr>
            <td align="right">报考类别：</td>
            <td>自考&nbsp;</td>
            <td align="right">报考学校：</td>
			<td>{{ user.university }}&nbsp;</td>
        </tr>
        <tr>
            <td align="right">报考专业：</td>
			<td>{{ user.target_major}}&nbsp;</td>
            <td align="right">原专业：</td>
			<td>{{ user.major }}&nbsp;</td>
        </tr>
        <tr>
            <td align="right">报考层次：</td>
            <td> &nbsp;</td>
            
            <td align="right">注册批次：</td>
            <td>2013秋&nbsp;</td>
        </tr>
        <tr>
            <td align="right">报名时间：</td>
			<td>{{ user.sign_time }}&nbsp;</td>
            <td align="right">状态：</td>
			<td>{{ user.status }}&nbsp;</td>
        </tr>
        
        <tr>
            <td colspan="4" align="left">联系方式（如联系方式有变动请及时修改，以便能及时联系到你。谢谢！）</td>
            
        </tr>
        <tr>
            <td align="right">手机号码：</td>
			<td>{{ user.phone }}</td>
            <td align="right">第二联系号码：</td>
            <td></td>
           
        </tr>
        <tr>
            <td align="right">QQ:</td>
			<td>{{ user.qq}} </td>
            <td align="right">电子邮箱：</td>
			<td>{{ user.email }}</td>
            
        </tr>
        <tr>
            <td align="right">联系地址：</td>
			<td colspan="4">{{ user.address }}</td>
        </tr>
        <tr align="center">
            <td colspan="5" height="40">
                <div align="center">
                    <input type="button" id="button2" value="联系方式有修改" onclick="submitMail()" class="input2" />
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock %}


