{% extends 'base_csj.html' %}
{% block page_title %}
Alert Information
{% endblock %}
{% block page_kind %}
alert list
{% endblock %}
{% block page_content %}
        <div class="wrapper wrapper-content  animated fadeInRight article">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="ibox">
                        <div class="ibox-content">
                            <div class="text-center article-title">
                            <span class="text-muted"><i class="fa fa-clock-o"></i>{{ m.create_time }}</span>
                                <h1> {{m.title}} </h1>
                            </div>
						<p>{{ m.desc }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
