{% extends 'base_csj.html' %}
{% block page_title %}
作业监督
{% endblock %}
{% block page_content %}
	
<script>
	function search() {
		if ($("#option1").hasClass("active")){
			location.href='/homework/list/?status=0&subject='+$("#homework_search_id").val();
		}
		else if($("#option2").hasClass("active")){
			location.href='/homework/list/?status=1&subject='+$("#homework_search_id").val();
		}
		else{
			location.href='/homework/list/?subject='+$("#homework_search_id").val();
		}
	}
	function dohomework(m_id) {
		$.get('/homework/do/' + m_id + '/', function(result){
			if (result.code != -1) {
				alert('批改成功');
			}
			else{
				alert('批改失败');
			}
		});
	}
	function change(st){
		location.href='/homework/list/?status='+parseInt(st);
	}
	function addtask(){
		alert($("#subject_id").val());
		$.post('/homework/add/', {
			subject: $("#subject_id").val(),
			content: $("#content_id").val(),
			group_id: $("#group_id").val(),
		}, function(data) {
			if (data.code == 0){
				alert(data.msg);
				location.href='/homework/list/';
			}
		}, "json");
	}
</script>
<div class="fh-breadcrumb">
	<div class="fh-column">
		<div class="full-height-scroll">
			<ul class="list-group elements-list">
				{% for t in tasks %}
				<li class="list-group-item">
					<a data-toggle="tab" href="#tab-{{ t.id }}">
						<small class="pull-right text-muted">{{ t.create_time }}</small>
						<strong>{{ t.name }}</strong>
						<div class="small m-t-xs">
							<p>
								{{ t.content }}
								<br>
							</p>
							<p class="m-b-none">
							<span class="label pull-right label-primary">{{ t.subject }}</span>
								<i class="fa fa-map-marker"></i>from {{ t.teacher }}
							</p>
						</div>
					</a>
				</li>	
				{% endfor %}
			</ul>
		</div>
	</div>
	{% if user.priv == 'teacher' or user.priv == 'admin' %}
	<div class="full-height">
		<div class="full-height-scroll white-bg border-left">
			<div class="element-detail-box">
				<div class="row">
					<div class="col-sm-4 m-b-xs">
						<div data-toggle="buttons" class="btn-group">
							<label class="btn btn-sm btn-white {% if status == 0 %}active{% endif %}" id="option1" onclick="change(0)";> 
								<input type="radio" id="__option1" name="options">
								未完成 </label>
							<label class="btn btn-sm btn-white {% if status == 1 %}active{% endif %}" id="option2" onclick="change(1);"> 
								<input type="radio" id="__option2" name="options">
							已完成</label>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="input-group"><input id="homework_search_id" type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
							<button type="button" class="btn btn-sm btn-primary" onclick="search();"> Go!</button> </span></div>
					</div>
				</div>
				<div class="tab-content">
					{% for t in tasks %}
					<div id="tab-{{ t.id }}" class="tab-pane">
						<a data-toggle="tab" href="#tab-{{ t.id }}">
							<strong>{{ t.name }} 的 {{ t.subject }}作业</strong>
							<p>状态: {{ t.status }}  <button type="button" class="btn btn-default" onclick="dohomework('{{t.id}}');">Do !</button>
							</p>
						</a>
					</div>
					{% endfor %}
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>发布新作业<small>请填写作业内容</small></h5>
								<div class="ibox-tools">
									<a class="collapse-link">
										<i class="fa fa-chevron-up"></i>
									</a>
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
										<i class="fa fa-wrench"></i>
									</a>
									<ul class="dropdown-menu dropdown-user">
										<li><a href="#">Config option 1</a>
										</li>
										<li><a href="#">Config option 2</a>
										</li>
									</ul>
									<a class="close-link">
										<i class="fa fa-times"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content">
								<form method="get" class="form-horizontal">
									<div class="form-group"><label class="col-sm-2 control-label">作业科目</label>

										<div class="col-sm-10"><input type="text" class="form-control" id="subject_id"></div>
									</div>
									<div class="hr-line-dashed"></div>
									<div class="form-group"><label class="col-sm-2 control-label">班级的班号</label>
										<div class="col-sm-10"><input type="text" class="form-control" id="group_id"> 
										</div>
									</div>
									<div class="hr-line-dashed"></div>
									<div class="form-group"><label class="col-sm-2 control-label">作业描述</label>
										<div class="col-sm-10"><textarea id="content_id" rows="10" cols="100" class="form-control">
											</textarea>
										</div>
									</div>
									<div class="hr-line-dashed"></div>

									<div class="form-group">
										<div class="col-sm-4 col-sm-offset-2">
											<button class="btn btn-primary" onclick="addtask();">发布</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>

{% endblock %}
